language: php
php:
  - 5.4
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3
before_install:
  - sudo pip install codecov
before_script:
  - composer install --dev
script:
  - phpunit --coverage-clover=coverage.xml
after_success:
  - codecov
